---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>

<main>
    <div class="module one">
        <div class="planet sun">
            <div class="planet-circle"></div>
            <h1>Sun</h1>
            <p>Type: G2V</p>
        </div>
    </div>
    <div class="module two">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Mercury</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module three">
        <div class="planet venus">
            <div class="planet-circle"></div>
            <h2>Venus</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module four">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Earth</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module five">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Mars</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module six">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Jupiter</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module seven">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Saturn</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module eight">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Uranus</h2>
            <p>AU distance</p>
        </div>
    </div>
    <div class="module nine">
        <div class="planet mercury">
            <div class="planet-circle"></div>
            <h2>Neptune</h2>
            <p>AU distance</p>
        </div>
    </div>

</main>