---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>

<main>
    <div class="module one">Sun</div>
    <div class="module two">Mercury</div>
    <div class="module three">Venus</div>
    <div class="module four">Earth</div>
    <div class="module five">Mars</div>
    <div class="module six">Jupiter</div>
    <div class="module seven">Saturn</div>
    <div class="module eight">Uranus</div>
    <div class="module nine">Neptune</div>

</main>