:root {
    background: rgb(53, 53, 53);
    --main-color: white;
    --card-color: rgb(181,181,181);
    --main-font: Helvetica, sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    padding: 20px;
}

h1 {
    color: var(--main-color);
    font-size: 3em;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: 20px;
    
}

.module {
    background: var(--card-color);
    border-radius: 7%;
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.planet-circle {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    border-radius: 50%;
    /* Add gradients and colors for each planet */
    background: radial-gradient(circle, rgba(105, 94, 94, 0) 0%, rgba(164, 43, 43, 0) 47%, #0d0a0a 47%, #ff0000 100%);
    margin-bottom: 10px;
}

.module.one {
    grid-column: 1/3;
    grid-row: 1/3;
}

.planet h2 {
    font-weight: bold;
    margin: 0;
}

.planet p {
    margin: 5px 0;
}

.module.one .planet-circle {
    width: 150px; /* Adjust size for the Sun */
    height: 150px; /* Adjust size for the Sun */
    color: black;
}

/* .module.two {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
} */



/* body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
} */