:root {
    --main-color: rgb(53, 53, 53);
    --card-color: rgb(181,181,181);
    --main-font: Helvetica, sans-serif;
    --color-white: #ffffff;
    --sun-yellow: rgb(248, 255, 107);
    --sun-orange: rgb(223, 150, 4);
    --mercury-gray: rgb(197, 171, 132);
    --mercury-brown: rgb(107, 76, 29);
    --mars-red: rgb(175, 35, 0);
    --mars-orange: rgb(255, 179, 64);
    --earth-blue: rgb(16, 87, 187);
    --earth-green: rgb(0, 200, 0);
    --uranus-teal: rgb(155, 255, 232);
    --neptune-light-blue: rgb(139, 187, 255);
    --jupiter-gray: rgb(121, 99, 66);
    --biggest-planet-w-h: 110px;
}

body {
    font-family: var(--main-font);
    background-color: var(--main-color);
    padding: 20px;
}

h1 {
    color: var(--color-white);
    font-size: 3em;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: 2vw;
    color: var(--main-color);
}

.module.one {
    grid-column: 1/3;
    grid-row: 1/3;
}

.module {
    background: var(--card-color);
    border-radius: 5%;
}

.module:hover {
    transform: scale(1.1);
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.planet-circle {
    border-radius: 50%;
    margin-bottom: 1.25vw;
}

.planet h2 {
    font-weight: bold;
    margin: 0;
}

.planet p {
    margin: 5px 0;
}

/* Adjust the Sun card */
.module.one p {
    font-size: 2vw;
}

.module.one h1 {
    color: var(--main-color);
    margin: 0;
}

.module.one .planet-circle {
    width: 220px; 
    height: 220px; 
    margin-bottom: 40px;
    background: radial-gradient(circle, var(--sun-yellow) 0%, var(--sun-orange) 80%);

}

/* Adjust other planet sizes and colors */

.module.two .planet-circle {
    width: 70px; 
    height: 70px; 
    background: radial-gradient(circle, var(--mercury-gray) 0%, var(--mercury-brown) 80%);
}

.module.three .planet-circle {
    width: 85px; 
    height: 85px; 
    background: radial-gradient(circle, var(--sun-yellow) 0%, var(--mercury-brown) 60%);
}

.module.four .planet-circle {
    width: 90px; 
    height: 90px; 
    background: radial-gradient(circle, var(--earth-green) 0%, var(--earth-blue) 60%);
}
.module.five .planet-circle {
    width: 80px; 
    height: 80px; 
    background: radial-gradient(circle, var(--mars-orange) 0%, var(--mars-red) 60%);
    
}
.module.six .planet-circle {
    width: var(--biggest-planet-w-h); 
    height: var(--biggest-planet-w-h); 
    background: linear-gradient(to bottom, var(--jupiter-gray), var(--mars-orange));
    
}
.module.seven .planet-circle {
    width: var(--biggest-planet-w-h); 
    height: var(--biggest-planet-w-h); 
    background: linear-gradient(to top right, var(--sun-yellow), var(--mercury-brown));
    
}
.module.eight .planet-circle {
    width: 95px; 
    height: 95px; 
    background: linear-gradient(to right, var(--uranus-teal), var(--color-white));
}

.module.nine .planet-circle {
    width: var(--biggest-planet-w-h); 
    height: var(--biggest-planet-w-h); 
    background: linear-gradient(to bottom, var(--neptune-light-blue), var(--earth-blue));
}

